<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Comment Only Room</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" type="text/css" />

    <link rel="stylesheet" href="{{ static_url("chat.css") }}" type="text/css" />

  </head>
  <body>

	<div class="ui two column centered grid">

	  <div class="column">
		<h3 class="ui top attached header">Chat (alpha なので怪しくなったらリロードしてください) active:<span id="active"></span></h3>
		<div class="ui attached segment comment-pane">
		  <div class="ui comments" data-name="chat"></div>
		</div>

		<div class="ui attached segment">

		<form class="ui form">
		  <div class="field">
			<div class="two fields">
			  <div class="twelve wide field">
				<input id="from" placeholder="うぇぶからです代理" value="うぇぶからです代理" type="text">
			  </div>
			  <div class="four wide field">
				<select id="color" class="ui dropdown">
				  <option selected value="yellow">yellow</option>
				  <option value="green">Green</option>
				  <option value="red">Red</option>
				  <option value="random">Random</option>
				</select>
			  </div>
			</div>
		  </div>

		  <div class="field ui fluid action input">
			<input id="comment" placeholder="Comment (Enter)" type="text">
			<button class="ui button" type="button">Say</button>
		  </div>

		</form>

		</div>
	  </div>

	</div>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
			integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js" ></script>

	<script src="{{ static_url("chat.js") }}"></script>
  </body>
</html>
